<h1>Jobs</h1>

<p style="color: green"><%= notice %></p>
<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
    <p>
      <%= link_to "Show this job", job %>
    </p>
  <% end %>
</div>

<!-- Solo se muestra si el usuario es admin -->
<% if current_user && current_user.role == 'admin'%>
  <%= link_to "New job", new_job_path %>
<% end %>
